@model IEnumerable<Game>
@{
    ViewData["Title"] = "بازی ها";
}

<div class="col-lg-12 col-md-12 col-xs-12 pl">
    <div class="shop-archive-content mt-3 d-block">
        <div class="archive-header">
            <h2 class="archive-header-title">آرشیو محصولات</h2>
            <div class="sort-tabs mt-0 d-inline-block pr">
                <h4>مرتب&zwnj;سازی بر اساس :</h4>
            </div>
            <div class="nav-sort-tabs-res">
                <ul class="nav sort-tabs-options" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link @Html.IsActive("Products", "TheMostVisited")" href="/Products/TheMostVisited" role="tab" aria-controls="Most-visited" aria-selected="true">پربازدیدترین</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" role="tab" aria-controls="Bestselling" aria-selected="false">پرفروش&zwnj;ترین&zwnj;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Html.IsActive("Products", "TheLatestProduct")" href="/Products/TheLatestProduct" role="tab" aria-controls="newest" aria-selected="false">جدیدترین</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Html.IsActive("Products", "TheCheapestProducts")" href="/Products/TheCheapestProducts" role="tab" aria-controls="cheapest" aria-selected="false">ارزان&zwnj;ترین</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Html.IsActive("Products", "TheMostExpensiveProducts")" href="/Products/TheMostExpensiveProducts" role="tab" aria-controls="most-expensive" aria-selected="false">گران&zwnj;ترین</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-items">
            <div class="tab-content" id="myTabContent">

                @* محصولات *@

                <div class="tab-pane fade show active" id="Most-visited" role="tabpanel" aria-labelledby="Most-visited-tab">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                <section class="product-box product product-type-simple">
                                    <div class="thumb">
                                        <a href="" class="d-block">
                                            <img width="400" height="300" src="~/GameImages/@item.ImageName">
                                        </a>
                                    </div>
                                    <div class="title">
                                        <a href="~/products/detail/500">
                                            @item.Title--@if (item.GameEditions.Any())
                                            {<p>@item.GameEditions[0].Title</p>}
                                        </a>
                                    </div>
                                    <div class="price">
                                        <span class="amount">
                                            @if (item.GameEditions.Any())
                                            {<p>@item.GameEditions[0].Price</p>}
                                            <span>تومان</span>
                                        </span>
                                    </div>
                                </section>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center" style="justify-content: center;">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        @if (ViewBag.PageID == 1)
                        {

                        }
                        else
                        {
                            var c = ViewBag.PageID - 1;
                            <a class="page-link" href="/Products/Index?pageid=@c" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        }
                    </li>
                    @for (var i = 1; i <= ViewBag.CountPage - 1; i++)
                    {
                        <li class="@(((int)ViewBag.PageID == i) ? "page-item active" : "page-item"))"><a class="page-link" href="/Products/Index?pageid=@i">@i</a></li>

                    }
                    <li class="page-item">
                        @if (ViewBag.PageID == ViewBag.CountPage - 1)
                        {

                        }
                        else
                        {
                            var c = ViewBag.PageID + 1;
                            <a class="page-link" href="/Products/Index?pageid=@c" aria-label="Previous">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        }
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

