@model GameCreateViewModel

@{
    ViewData["Title"] = "افزودن بازی";
}

@{
    var platformCount = 0;
    var GenreCount = 0;
    var GameEditionCount = 0;
}

<div class="row" style="background: white; margin-top: 10px;border-radius: 5px;">
    <div class="text-center">
        <h2>افزودن بازی</h2>
    </div>
    <div class="col-md-4" style="width: 100%; padding: 27px;">
        <form asp-action="EditGame" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <img id="Image-@Model.Id" src="~/GameImages/@Model.ImageName" alt="Alternate Text" style="width:31%" />
                <div class="white-box">
                    <label for="">تصویر را انتخاب کنید</label>
                    <input type="file" id="input-file-now" name="image" class="dropify" />
                </div>
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-row" style="display:grid">
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 ">
                        <h5 class="m-t-30 m-b-10">انتخاب پلتفرم</h5>
                        <p id="int" attr="0" style="display:none"></p>
                        <select onchange="getaPlatformName(this)" attrr="0" id="PlatformAdd" class="form-control PlatformAdd">
                            <option>انتخاب کنید</option>
                            @foreach (var item in Model.Platforms)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-6 CreatPlatform">
                        <ul id="selectplatform" class="" style="display:contents">
                            @foreach (var item in ViewBag.GamePlatform)
                            {
                                <li class="badge badge-info" onclick="RemoveGenere(this)">
                                    <p>@item.Platform.Title</p>
                                    <input type="text" style="display:none" onkeyup="numberChange(this)" name="Platforms[@platformCount].Title" value="@item.Id" />
                                </li>
                                platformCount++;
                            }
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6">
                        <h5 class="m-t-30 m-b-10">انتخاب ژانر</h5>
                        <p id="intt" attr="0" style="display:none"></p>
                        <select onchange="getaGenreName(this)" attrr="0" id="GenreAdd" class="form-control GenreAdd">
                            <option>انتخاب کنید</option>
                            @foreach (var item in Model.Genres)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-6 GenrePlatform">
                        <ul id="selectGenre" class="selectResult" style="display:contents">
                            @foreach (var item in ViewBag.GameGenre)
                            {
                                <li class="badge badge-info" onclick="RemoveGenere(this)">
                                    <input type="text" style="display:none" name="Genres[@GenreCount].Id" value="@item.Id" />
                                    <p>@item.Genre.Title</p>
                                </li>
                                GenreCount++;
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">نام بازی</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> توضیح کوتاه</label>
                <input asp-for="Explanation" class="form-control" />
                <span asp-validation-for="Explanation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">متن</label>
                <textarea class="form-control text-box multi-line ckEditor" data-val="true" asp-for="Summary"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">تعداد بازی</label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ComingSoon" /> بزودی
                </label>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 " style="margin-bottom:16px">
                    <h5 class="m-t-30 m-b-10">نسخه بازی</h5>
                    <input type="text" id="GameEditionsTitle" name="gameEdition" value="" />
                    <input type="number" id="GameEditions" onkeyup="ShowTheBtn(this)" name="gameEdition" value="" />
                    <a style="display:none" onclick="CreatGameEdition()" class="btn btn-dark" id="btnEdition">ثبت</a>
                </div>
                <div class="col-md-6 col-sm-6 CreatPlatform">
                    <ul id="SelectGameEdition" class="" style="display:contents">
                        @foreach (var item in ViewBag.GameEdition)
                        {
                            <li class="badge badge-info" onclick="RemoveGenere(this)">
                                <p>@item.Title</p>
                                <p>@item.Price</p>
                                <input type="text" style="display:none" name="gameEditions[@GameEditionCount].Title" value="@item.Title" />
                                <input type="text" style="display:none" name="gameEditions[@GameEditionCount].Price" value="@item.Price" />

                            </li>
                            GameEditionCount++;
                        }
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-primary" style="width:100%" />
            </div>
        </form>
    </div>
</div>


@section Scripts{
    @Html.RenderPartialAsync("_CkEditorPartial")
    <script type="text/javascript">
        var platformsCount =@platformCount;
        var GenresCount =@GenreCount;
        var GameEditionsCount=@GameEditionCount;
        function getaPlatformName(obj) {
            var item = $("#PlatformAdd").val();
            var html = '<li class="badge badge-info" onclick="RemovePlatform(this)">';
            html += '<p>' + item + '</p>';
            html += '<input  type="text" style="display:none" onkeyup="numberChange(this)" name="Platforms[' + platformsCount + '].Id" value="' + item + '" />';
            html += '</li>';
            $("#selectplatform").append(html);
            platformsCount+=1;
        }
        function getaGenreName(obj) {
            var item = $("#GenreAdd").val();
            var html = '<li class="badge badge-info" onclick="RemoveGenere(this)">';
            html += '<p>' + item + '</p>';
            html += '<input  type="text" style="display:none" onkeyup="numberChange(this)" name="Genres[' + GenresCount + '].Id" value="' + item + '" />';
            html += '</li>';
            $("#selectGenre").append(html);
            GenresCount+=1;
        }
        function CreatGameEdition() {
            debugger;
            var itemTitle = $("#GameEditionsTitle").val();
            var itemPrice = $("#GameEditions").val();
            var html = '<li class="badge badge-info" onclick="RemoveGenere(this)">';
            html += '<p>' + itemTitle + '</p>';
            html += '<p>' + itemPrice + '</p>';
            html += '<input  type="text" style="display:none" name="gameEditions[' + GameEditionsCount + '].title" value="' + itemTitle + '" />';
            html += '<input  type="text" style="display:none" name="gameEditions[' + GameEditionsCount + '].price" value="' + itemPrice + '" />';
            html += '</li>';
            $("#SelectGameEdition").append(html);
            GameEditionsCount += 1;
        }
        function RemovePlatform(obj) {
            obj.remove();
        }
        function RemoveGenere(obj) {
            obj.remove();
        }
        function ShowTheBtn(obj) {
            if (obj.value == 0) {
                $("#btnEdition").css("display", "none");
            } else {
                $("#btnEdition").css("display", "inline-block");
            }
        }
    </script>
}
